@import "tailwindcss";
@theme {
    --font-body: "Inter", sans-serif;

    --color-primary: #0f766e;
    --color-accent:#f59e0b;
    --color-bgcard:#f3f4f6;
    --color-dark:#0b1220;
    --color-textcard: #64748b;
}

@layer component {
    .home-section {
        @apply relative overflow-hidden rounded-sm shadow-sm transition hover:shadow-lg
    }

    .default-layout {
        @apply mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8
    }

    .grid-shop {
        @apply mt-8 grid gap-4 sm:grid-cols-2 lg:grid-cols-4
    }
    .card-container {
        @apply relative block overflow-hidden cursor-pointer
    }

    .card-desc {
        @apply relative border border-gray-100/90 bg-white pt-3 shadow 
    }

    .card-img {
        @apply h-64 w-full object-cover transition duration-500 group-hover:scale-105 sm:h-72
    }

    .card-text {
        @apply text-xs group-hover:underline group-hover:underline-offset-4
    }

    .btnAddToCart {
        @apply block w-full rounded-sm bg-primary p-4 text-sm text-white/90 font-medium cursor-pointer
    }
}